apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: matter-server
  namespace: home-automation
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.7.3
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    controllers:
      matter-server:
        pod:
          hostNetwork: true
          dnsPolicy: ClusterFirstWithHostNet
        containers:
          app:
            image:
              repository: ghcr.io/home-assistant-libs/python-matter-server
              tag: stable
            args: ["--primary-interface", "enp86s0", "--verbose"]
            env:
              - name: TZ
                value: "Europe/Berlin"
            resources:
              requests:
                cpu: 100m
                memory: 256Mi
              limits:
                memory: 512Mi
    service:
      main:
        controller: matter-server
        ports:
          http:
            port: 5580
    ingress:
      main:
        enabled: true
        className: internal
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/name: "Matter Server"
          gethomepage.dev/description: "Matter Server for Home Assistant"
          gethomepage.dev/group: "Home Automation"
          gethomepage.dev/icon: "matter.png"
        labels:
          gethomepage.dev/enabled: "true"
        hosts:
          - host: "matter.${SECRET_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: main
                  port: http
    persistence:
      data:
        enabled: true
        type: persistentVolumeClaim
        existingClaim: matter-server-data
        globalMounts:
          - path: /data
