---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: iobroker-config
  namespace: home-automation
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 15Gi
  storageClassName: longhorn-static
  volumeName: iobroker-config
