---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: fluent-bit
spec:
  interval: 30m
  chart:
    spec:
      chart: fluent-bit
      version: 0.47.10
      sourceRef:
        kind: HelmRepository
        name: fluent
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    image:
      repository: cr.fluentbit.io/fluent/fluent-bit
      tag: 3.1.9

    serviceAccount:
      create: true

    rbac:
      create: true
      nodeAccess: true

    podSecurityPolicy:
      create: false

    resources:
      requests:
        cpu: 50m
        memory: 128Mi
      limits:
        cpu: 200m
        memory: 256Mi

    config:
      service: |
        [SERVICE]
            Daemon Off
            Flush 1
            Log_Level info
            Parsers_File parsers.conf
            Parsers_File custom_parsers.conf
            HTTP_Server On
            HTTP_Listen 0.0.0.0
            HTTP_Port 2020
            Health_Check On
            HTTP_Buffer_Size 512KB

      inputs: |
        [INPUT]
            Name tail
            Path /var/log/containers/*.log
            multiline.parser docker, cri
            Tag kube.*
            Mem_Buf_Limit 10MB
            Skip_Long_Lines On

      filters: |
        [FILTER]
            Name kubernetes
            Match kube.*
            Kube_URL https://kubernetes.default.svc:443
            Kube_CA_File /var/run/secrets/kubernetes.io/serviceaccount/ca.crt
            Kube_Token_File /var/run/secrets/kubernetes.io/serviceaccount/token
            Kube_Tag_Prefix kube.var.log.containers.
            Merge_Log Off
            K8S-Logging.Parser On
            K8S-Logging.Exclude On
            Labels On
            Annotations Off

        [FILTER]
            Name nest
            Match kube.*
            Operation lift
            Nested_under kubernetes
            Add_prefix k8s_

      outputs: |
        [OUTPUT]
            Name es
            Match kube.*
            Host elasticsearch-es-http.monitoring.svc
            Port 9200
            HTTP_User elastic
            HTTP_Passwd MC3lY6PQ2lkhP2z70Q1pw373
            Logstash_Format On
            Logstash_Prefix fluent-bit
            Logstash_DateFormat %Y.%m.%d
            Include_Tag_Key On
            Tag_Key _fluentbit_tag
            tls On
            tls.verify Off
            Retry_Limit 10
            Suppress_Type_Name On
            Buffer_Size 512KB

      customParsers: |
        [PARSER]
            Name docker_no_time
            Format json
            Time_Keep Off
            Time_Key time
            Time_Format %Y-%m-%dT%H:%M:%S.%L

    readinessProbe:
      httpGet:
        path: /
        port: http
      initialDelaySeconds: 30
      periodSeconds: 10
      timeoutSeconds: 5
      failureThreshold: 10

    tolerations:
      - effect: NoSchedule
        operator: Exists
