---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: paperless-ai-data
  namespace: office
spec:
  capacity:
    storage: 10Gi
  volumeMode: Filesystem
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  storageClassName: longhorn-static
  csi:
    driver: driver.longhorn.io
    fsType: ext4
    volumeAttributes:
      numberOfReplicas: "3"
      staleReplicaTimeout: "30"
    volumeHandle: paperless-ai-data
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: paperless-ai-data
  namespace: office
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  storageClassName: longhorn-static
  volumeName: paperless-ai-data