---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: paperless-ai-data
  namespace: office
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: longhorn
  resources:
    requests:
      storage: 10Gi