---
apiVersion: v1
kind: ConfigMap
metadata:
  name: filebeat-config
data:
  filebeat.yml: |
    filebeat.inputs:
    - type: container
      paths:
        - /var/log/containers/*.log
      processors:
      - add_kubernetes_metadata:
          host: ${NODE_NAME}
          matchers:
          - logs_path:
              logs_path: "/var/log/containers/"
      - decode_json_fields:
          fields: ["message"]
          target: ""
          overwrite_keys: true

    output.elasticsearch:
      hosts: ["https://elasticsearch-es-http.monitoring.svc:9200"]
      username: "elastic"
      password: "MC3lY6PQ2lkhP2z70Q1pw373"
      ssl.certificate_authorities: ["/usr/share/filebeat/config/certs/tls.crt"]

    setup.ilm.enabled: false
    setup.template.enabled: true
    setup.template.overwrite: true
    setup.template.name: "filebeat"
    setup.template.pattern: "filebeat-*"

    logging.level: info
    logging.to_stderr: true

    http.enabled: true
    http.host: "0.0.0.0"
    http.port: 5066
