---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: makemkv-media
  annotations:
    volume.beta.kubernetes.io/storage-provisioner: smb.csi.k8s.io
    volume.kubernetes.io/storage-provisioner: smb.csi.k8s.io
  labels:
    csi-driver-smb: "cifs-share"
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 500Gi
  storageClassName: cifs-makemkv-media

---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: makemkv-config-new
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 2Gi
  storageClassName: longhorn-static
  volumeName: makemkv-config
