apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: mosquitto
  namespace: home-automation
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.7.3
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    controllers:
      mosquitto:
        annotations:
          reloader.stakater.com/auto: "true"
        initContainers:
          init-config:
            image:
              repository: public.ecr.aws/docker/library/eclipse-mosquitto
              tag: 2.0.22
            command: ["/bin/sh", "-c"]
            args:
              - |
                cp /tmp/secret/mosquitto_pwd /mosquitto/external_config/;
                chmod 600 /mosquitto/external_config/mosquitto_pwd;
                mosquitto_passwd -U /mosquitto/external_config/mosquitto_pwd;
        containers:
          app:
            image:
              repository: public.ecr.aws/docker/library/eclipse-mosquitto
              tag: 2.0.22
            probes:
              liveness:
                enabled: true
              readiness:
                enabled: true
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
            resources:
              requests:
                cpu: 10m
              limits:
                memory: 64Mi
          exporter:
            image:
              repository: sapcc/mosquitto-exporter
              tag: 0.8.0
            env:
              - name: MQTT_ADDRESS
                value: "tcp://localhost:1883"
            resources:
              requests:
                cpu: 10m
                memory: 16Mi
              limits:
                memory: 32Mi
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: true
              capabilities: { drop: ["ALL"] }
        pod:
          securityContext:
            runAsUser: 65534
            runAsGroup: 65534
            runAsNonRoot: true
            fsGroup: 65534
            fsGroupChangePolicy: OnRootMismatch
    service:
      main:
        controller: mosquitto
        type: LoadBalancer
        loadBalancerIP: "192.168.55.15"
        externalTrafficPolicy: Cluster
        annotations:
          external-dns.alpha.kubernetes.io/hostname: mqtt.${SECRET_DOMAIN}
        ports:
          mqtt:
            protocol: TCP
            enabled: true
            port: 1883
            targetPort: 1883
          websockets:
            protocol: TCP
            enabled: true
            port: 9001
            targetPort: 9001
      internal:
        controller: mosquitto
        type: ClusterIP
        ports:
          mqtt:
            protocol: TCP
            enabled: true
            port: 1883
            targetPort: 1883
      metrics:
        controller: mosquitto
        ports:
          metrics:
            port: 9234
    ingress:
      main:
        enabled: true
        className: internal
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/name: "Mosquitto"
          gethomepage.dev/description: "Mosquitto is an open-source message broker that implements the MQTT protocol"
          gethomepage.dev/group: "Home Automation"
          gethomepage.dev/icon: "mosquitto.png"
          nginx.ingress.kubernetes.io/proxy-read-timeout: "3600"
          nginx.ingress.kubernetes.io/proxy-send-timeout: "3600"
        labels:
          gethomepage.dev/enabled: "true"
        hosts:
          - host: "mqtt.${SECRET_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: main
                  port: websockets
    persistence:
      data:
        existingClaim: mosquitto-config
      config-file:
        type: configMap
        name: mosquitto-configmap
        advancedMounts:
          mosquitto:
            app:
              - path: /mosquitto/config/mosquitto.conf
                subPath: mosquitto.conf
                readOnly: true
      secret-file:
        type: secret
        name: mosquitto-secret
        advancedMounts:
          mosquitto:
            init-config:
              - path: /tmp/secret/mosquitto_pwd
                subPath: mosquitto_pwd
                readOnly: true
      external-config:
        type: emptyDir
        globalMounts:
          - path: /mosquitto/external_config
