---
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: grafana
spec:
  interval: 30m
  chart:
    spec:
      chart: grafana
      version: 10.5.8
      sourceRef:
        kind: HelmRepository
        name: grafana
        namespace: flux-system
  maxHistory: 2
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    deploymentStrategy:
      type: Recreate
    admin:
      existingSecret: grafana-admin-secret
    envFromSecret: grafana-admin-secret
    env:
      GF_EXPLORE_ENABLED: true
    extraSecretMounts:
      - name: elasticsearch-credentials
        secretName: elasticsearch-es-elastic-user
        defaultMode: 0440
        mountPath: /etc/secrets/elasticsearch
        readOnly: true
    grafana.ini:
      server:
        root_url: "https://grafana.${SECRET_DOMAIN}"
      analytics:
        check_for_updates: false
        check_for_plugin_updates: false
        reporting_enabled: false
    datasources:
      datasources.yaml:
        apiVersion: 1
        deleteDatasources:
          - { name: Prometheus, orgId: 1 }
          - { name: InfluxDB, orgId: 1 }
          - { name: Unpoller InfluxDB, orgId: 1 }
          - { name: TeslaMate, orgId: 1 }
          - { name: Elasticsearch, orgId: 1 }
        datasources:
          - name: Prometheus
            type: prometheus
            uid: prometheus
            access: proxy
            url: http://kube-prometheus-stack-prometheus.monitoring.svc.cluster.local:9090
            jsonData:
              prometheusType: Prometheus
            isDefault: true
          - name: Unpoller InfluxDB
            type: influxdb
            uid: unpoller-influxdb
            access: proxy
            url: http://influxdb-influxdb2.databases.svc.cluster.local:80
            jsonData:
              version: Flux
              organization: ${INFLUXDB_ORG}
              defaultBucket: ${INFLUXDB_BUCKET}
              httpMode: POST
            secureJsonData:
              token: $__env{INFLUXDB_TOKEN}
          - name: InfluxDB
            type: influxdb
            uid: influxdb
            access: proxy
            url: http://influxdb-influxdb2.databases.svc.cluster.local:80
            jsonData:
              version: Flux
              organization: ${INFLUXDB_ORG}
              defaultBucket: ${INFLUXDB_BUCKET}
              httpMode: POST
            secureJsonData:
              token: $__env{INFLUXDB_TOKEN}
          - name: TeslaMate
            type: postgres
            uid: TeslaMate
            access: proxy
            url: teslamate-postgres.home-automation.svc.cluster.local:5432
            user: teslamate
            secureJsonData:
              password: $__env{TESLAMATE_DB_PASSWORD}
            jsonData:
              database: teslamate
              sslmode: disable
              postgresVersion: 1800
          - name: Elasticsearch
            type: elasticsearch
            uid: elasticsearch
            access: proxy
            url: https://elasticsearch-es-http.monitoring.svc.cluster.local:9200
            basicAuth: true
            basicAuthUser: elastic
            jsonData:
              index: "fluent-bit-*"
              timeField: "@timestamp"
              logMessageField: log
              logLevelField: level
              tlsSkipVerify: true
              esVersion: "8.15.3"
            secureJsonData:
              basicAuthPassword: $__file{/etc/secrets/elasticsearch/elastic}
    dashboards:
      default:
        cloudflared:
          gnetId: 17457 # https://grafana.com/grafana/dashboards/17457?tab=revisions
          revision: 6
          datasource:
            - { name: DS_PROMETHEUS, value: Prometheus }
        external-dns:
          gnetId: 15038 # https://grafana.com/grafana/dashboards/15038?tab=revisions
          revision: 1
          datasource: Prometheus
        cert-manager:
          url: https://raw.githubusercontent.com/monitoring-mixins/website/master/assets/cert-manager/dashboards/cert-manager.json
          datasource: Prometheus
        node-exporter-full:
          gnetId: 1860 # https://grafana.com/grafana/dashboards/1860?tab=revisions
          revision: 31
          datasource: Prometheus
        influxdb-v2:
          gnetId: 15650 # https://grafana.com/grafana/dashboards/15650 - InfluxDB 2.x monitoring
          revision: 1
          datasource: Prometheus
        adguard-home:
          gnetId: 20799 # https://grafana.com/grafana/dashboards/20799 - AdGuard Home Exporter
          revision: 1
          datasource: Prometheus
        mosquitto:
          gnetId: 17721 # https://grafana.com/grafana/dashboards/17721 - Mosquitto Exporter
          revision: 1
          datasource: Prometheus
      flux:
        flux-cluster:
          url: https://raw.githubusercontent.com/fluxcd/flux2-monitoring-example/main/monitoring/configs/dashboards/cluster.json
          datasource: Prometheus
        flux-control-plane:
          url: https://raw.githubusercontent.com/fluxcd/flux2-monitoring-example/main/monitoring/configs/dashboards/control-plane.json
          datasource: Prometheus
      kubernetes:
        kubernetes-api-server:
          url: https://raw.githubusercontent.com/dotdc/grafana-dashboards-kubernetes/master/dashboards/k8s-system-api-server.json
          datasource: Prometheus
        kubernetes-coredns:
          url: https://raw.githubusercontent.com/dotdc/grafana-dashboards-kubernetes/master/dashboards/k8s-system-coredns.json
          datasource: Prometheus
        kubernetes-global:
          url: https://raw.githubusercontent.com/dotdc/grafana-dashboards-kubernetes/master/dashboards/k8s-views-global.json
          datasource: Prometheus
        kubernetes-namespaces:
          url: https://raw.githubusercontent.com/dotdc/grafana-dashboards-kubernetes/master/dashboards/k8s-views-namespaces.json
          datasource: Prometheus
        kubernetes-nodes:
          url: https://raw.githubusercontent.com/dotdc/grafana-dashboards-kubernetes/master/dashboards/k8s-views-nodes.json
          datasource: Prometheus
        kubernetes-pods:
          url: https://raw.githubusercontent.com/dotdc/grafana-dashboards-kubernetes/master/dashboards/k8s-views-pods.json
          datasource: Prometheus
      nginx:
        nginx:
          url: https://raw.githubusercontent.com/kubernetes/ingress-nginx/master/deploy/grafana/dashboards/nginx.json
          datasource: Prometheus
        nginx-request-handling-performance:
          url: https://raw.githubusercontent.com/kubernetes/ingress-nginx/master/deploy/grafana/dashboards/request-handling-performance.json
          datasource: Prometheus
      teslamate:
        charges:
          url: https://raw.githubusercontent.com/teslamate-org/teslamate/master/grafana/dashboards/charges.json
          datasource: TeslaMate
        charging-stats:
          url: https://raw.githubusercontent.com/teslamate-org/teslamate/master/grafana/dashboards/charging-stats.json
          datasource: TeslaMate
        drives:
          url: https://raw.githubusercontent.com/teslamate-org/teslamate/master/grafana/dashboards/drives.json
          datasource: TeslaMate
        efficiency:
          url: https://raw.githubusercontent.com/teslamate-org/teslamate/master/grafana/dashboards/efficiency.json
          datasource: TeslaMate
        locations:
          url: https://raw.githubusercontent.com/teslamate-org/teslamate/master/grafana/dashboards/locations.json
          datasource: TeslaMate
        overview:
          url: https://raw.githubusercontent.com/teslamate-org/teslamate/master/grafana/dashboards/overview.json
          datasource: TeslaMate
        states:
          url: https://raw.githubusercontent.com/teslamate-org/teslamate/master/grafana/dashboards/states.json
          datasource: TeslaMate
        statistics:
          url: https://raw.githubusercontent.com/teslamate-org/teslamate/master/grafana/dashboards/statistics.json
          datasource: TeslaMate
        updates:
          url: https://raw.githubusercontent.com/teslamate-org/teslamate/master/grafana/dashboards/updates.json
          datasource: TeslaMate
        vampire-drain:
          url: https://raw.githubusercontent.com/teslamate-org/teslamate/master/grafana/dashboards/vampire-drain.json
          datasource: TeslaMate
        visited:
          url: https://raw.githubusercontent.com/teslamate-org/teslamate/master/grafana/dashboards/visited.json
          datasource: TeslaMate
    sidecar:
      dashboards:
        enabled: true
        searchNamespace: ALL
        labelValue: ""
        label: grafana_dashboard
        folderAnnotation: grafana_folder
        folder: /var/lib/grafana/dashboards/sidecar
        defaultFolderName: default
        provider:
          disableDelete: true
          foldersFromFilesStructure: true
      datasources:
        enabled: true
        searchNamespace: ALL
        labelValue: ""
    dashboardProviders:
      dashboardproviders.yaml:
        apiVersion: 1
        providers:
          - name: default
            orgId: 1
            folder: ""
            type: file
            disableDeletion: false
            editable: true
            options:
              path: /var/lib/grafana/dashboards/default
          - name: flux
            orgId: 1
            folder: Flux
            type: file
            disableDeletion: false
            editable: true
            options:
              path: /var/lib/grafana/dashboards/flux
          - name: kubernetes
            orgId: 1
            folder: Kubernetes
            type: file
            disableDeletion: false
            editable: true
            options:
              path: /var/lib/grafana/dashboards/kubernetes
          - name: nginx
            orgId: 1
            folder: Nginx
            type: file
            disableDeletion: false
            editable: true
            options:
              path: /var/lib/grafana/dashboards/nginx
          - name: teslamate
            orgId: 1
            folder: TeslaMate
            type: file
            disableDeletion: false
            editable: true
            options:
              path: /var/lib/grafana/dashboards/teslamate
    serviceMonitor:
      enabled: true
    ingress:
      enabled: true
      ingressClassName: internal
      annotations: {}
      hosts:
        - &host "grafana.${SECRET_DOMAIN}"
      tls:
        - hosts:
            - *host
    persistence:
      enabled: true
      existingClaim: grafana-config
    resources:
      requests:
        cpu: 100m
        memory: 512Mi
      limits:
        cpu: 500m
        memory: 1Gi
    testFramework:
      enabled: false
