---
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: unpoller
  namespace: monitoring
  labels:
    release: kube-prometheus-stack
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: unpoller
  endpoints:
    - port: http
      path: /metrics
      interval: 30s
      scrapeTimeout: 10s
