# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: download
components:
  - ../../flux/components/common
resources:
  # - ./jdownloader/ks.yaml  # Deactivated for PVC migration
  - ./tube-archivist/ks.yaml