---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  namespace: databases
  name: pgadmin-data
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: longhorn-static
  volumeName: pgadmin-data
  resources:
    requests:
      storage: 5Gi
