apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: scrypted-data
  namespace: home-automation
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 5Gi
  storageClassName: longhorn-static
  volumeName: scrypted-config
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: scrypted-media
  namespace: home-automation
  annotations:
    volume.beta.kubernetes.io/storage-provisioner: smb.csi.k8s.io
    volume.kubernetes.io/storage-provisioner: smb.csi.k8s.io
  labels:
    csi-driver-smb: "cifs-share"
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 500Gi
  storageClassName: cifs-scrypted-media
