---
# YouTube media volume on CIFS
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: tube-archivist-youtube
  namespace: download
  annotations:
    volume.beta.kubernetes.io/storage-provisioner: smb.csi.k8s.io
    volume.kubernetes.io/storage-provisioner: smb.csi.k8s.io
  labels:
    csi-driver-smb: "cifs-share"
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 1Ti
  storageClassName: cifs-tube-archivist-media
# Cache and Elasticsearch PVCs already exist from migration
# Removed from here to avoid immutable spec conflicts
