---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: icloud-docker-mu-data
  namespace: backup
  annotations:
    volume.beta.kubernetes.io/storage-provisioner: smb.csi.k8s.io
    volume.kubernetes.io/storage-provisioner: smb.csi.k8s.io
  labels:
    csi-driver-smb: "cifs-share"
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 100Gi
  storageClassName: cifs-icloud-docker-mu
