# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: monitoring
components:
  - ../../flux/components/common
resources:
  - ./grafana/ks.yaml
  - ./headlamp/ks.yaml
  - ./kube-prometheus-stack/ks.yaml
  - ./uptime-kuma/ks.yaml
  - ./eck-operator/ks.yaml
  - ./elasticsearch/ks.yaml
  - ./kibana/ks.yaml
  - ./fluent-bit/ks.yaml
