apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: zigbee2mqtt
  namespace: home-automation
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.7.3
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    controllers:
      zigbee2mqtt:
        containers:
          app:
            image:
              repository: koenkk/zigbee2mqtt
              #tag: "1.35.3"
              tag: "2.9.1"
            env:
              - name: ZIGBEE2MQTT_DATA
                value: "/data"
              - name: ZIGBEE2MQTT_CONFIG_MQTT_SERVER
                value: "mqtt://mosquitto-main.home-automation.svc.cluster.local:1883"
              - name: ZIGBEE2MQTT_CONFIG_SERIAL_PORT
                value: "tcp://192.168.32.20:6638"
              - name: ZIGBEE2MQTT_CONFIG_SERIAL_ADAPTER
                value: "zstack"
              - name: ZIGBEE2MQTT_CONFIG_SERIAL_BAUDRATE
                value: "115200"
              - name: TZ
                value: "Europe/Berlin"
            resources:
              requests:
                cpu: 50m
                memory: 128Mi
              limits:
                cpu: 200m
                memory: 256Mi
    service:
      main:
        controller: zigbee2mqtt
        ports:
          http:
            port: 8080
    ingress:
      main:
        enabled: true
        className: internal
        labels:
          gethomepage.dev/enabled: "true"
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/name: "Zigbee2MQTT"
          gethomepage.dev/description: "Zigbee to MQTT bridge"
          gethomepage.dev/group: "Home Automation"
          gethomepage.dev/icon: "zigbee2mqtt.png"
          external-dns.alpha.kubernetes.io/hostname: zigbee2mqtt.${SECRET_DOMAIN}
        hosts:
          - host: "zigbee2mqtt.${SECRET_DOMAIN}"
            paths:
              - path: /
                pathType: ImplementationSpecific
                service:
                  name: zigbee2mqtt
                  port: 8080
    persistence:
      data:
        enabled: true
        existingClaim: zigbee2mqtt-data
        globalMounts:
          - path: /data
