---
apiVersion: v1
kind: ConfigMap
metadata:
  name: phpmyadmin-config
  namespace: databases
data:
  config.inc.php: |
    <?php
    declare(strict_types=1);
    
    $cfg['blowfish_secret'] = '6Bcug8KTnqjn1Zdqa9mBLbnayUWZEsfe';
    
    $i = 0;
    $i++;
    
    /* Auto-login with root credentials after Authentik authentication */
    $cfg['Servers'][$i]['auth_type'] = 'config';
    $cfg['Servers'][$i]['host'] = 'mariadb.databases.svc.cluster.local';
    $cfg['Servers'][$i]['port'] = '3306';
    $cfg['Servers'][$i]['user'] = getenv('PMA_USER');
    $cfg['Servers'][$i]['password'] = getenv('PMA_PASSWORD');
    $cfg['Servers'][$i]['compress'] = false;
    $cfg['Servers'][$i]['AllowNoPassword'] = false;
    
    $cfg['UploadDir'] = '';
    $cfg['SaveDir'] = '';
    $cfg['AllowArbitraryServer'] = true;

