---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: phpmyadmin
  namespace: databases
spec:
  interval: 25m
  chart:
    spec:
      chart: phpmyadmin
      version: 12.0.0
      sourceRef:
        kind: HelmRepository
        name: bitnami
        namespace: flux-system
      interval: 15m
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    db:
      host: mariadb.databases.svc.cluster.local
      port: 3306
      allowArbitraryServer: true

    ingress:
      enabled: true
      ingressClassName: internal
      annotations:
        gethomepage.dev/enabled: "true"
        gethomepage.dev/name: "phpMyAdmin"
        gethomepage.dev/description: "Web-based MySQL/MariaDB administration tool"
        gethomepage.dev/group: "Databases"
        gethomepage.dev/icon: "phpmyadmin.png"
        nginx.ingress.kubernetes.io/auth-url: "http://ak-outpost-phpmyadmin-forward-auth.kube-system.svc.cluster.local:9000/outpost.goauthentik.io/auth/nginx"
        nginx.ingress.kubernetes.io/auth-signin: "https://phpmyadmin.${SECRET_DOMAIN}/outpost.goauthentik.io/start?rd=$escaped_request_uri"
        nginx.ingress.kubernetes.io/auth-response-headers: "Set-Cookie,X-authentik-username,X-authentik-groups,X-authentik-email,X-authentik-name,X-authentik-uid"
        nginx.ingress.kubernetes.io/auth-snippet: |
          proxy_set_header X-Forwarded-Host $http_host;
      labels:
        gethomepage.dev/enabled: "true"
      hostname: &host "phpmyadmin.${SECRET_DOMAIN}"
      hosts:
        - *host
      tls:
        - hosts:
            - *host

    service:
      type: ClusterIP
      ports:
        http: 80

    resources:
      requests:
        cpu: 100m
        memory: 128Mi
      limits:
        memory: 256Mi
