---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2beta2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: vaultwarden
spec:
  interval: 30m
  chart:
    spec:
      chart: vaultwarden
      version: 0.23.0
      sourceRef:
        kind: HelmRepository
        name: guerzon
        namespace: flux-system
  maxHistory: 1
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: false
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    image:
      tag: "1.32.7"

    domain: "https://vaultwarden.${SECRET_DOMAIN}"

    adminToken:
      existingSecret: vaultwarden-secret
      existingSecretKey: admin-token

    signupsAllowed: true
    invitationsAllowed: true
    signupsVerify: false
    showPassHint: false

    websocket:
      enabled: true

    service:
      type: ClusterIP

    ingress:
      enabled: true
      className: internal
      annotations:
        gethomepage.dev/enabled: "true"
        gethomepage.dev/name: "Vaultwarden"
        gethomepage.dev/group: "Office"
        gethomepage.dev/icon: "bitwarden.png"
        gethomepage.dev/description: "Self-hosted password manager"
      labels:
        gethomepage.dev/enabled: "true"
      hosts:
        - host: vaultwarden.${SECRET_DOMAIN}
          paths:
            - path: /
              pathType: Prefix
      tls:
        - hosts:
            - vaultwarden.${SECRET_DOMAIN}

    storage:
      enabled: false

    persistence:
      data:
        enabled: true
        existingClaim: vaultwarden-data

    podSecurityContext:
      runAsUser: 1000
      runAsGroup: 1000
      runAsNonRoot: true
      fsGroup: 1000
      fsGroupChangePolicy: OnRootMismatch

    securityContext:
      allowPrivilegeEscalation: false
      readOnlyRootFilesystem: false
      capabilities:
        drop:
          - ALL

    resources:
      requests:
        cpu: 10m
        memory: 128Mi
      limits:
        cpu: 500m
        memory: 512Mi