---
# yaml-language-server: $schema=https://kubernetes-schemas.pages.dev/helm.toolkit.fluxcd.io/helmrelease_v2beta2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: vaultwarden
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.7.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 1
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: false
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    controllerType: deployment
    controllers:
      main:
        containers:
          main:
            image:
              repository: vaultwarden/server
              tag: "1.32.7"
            env:
              ADMIN_TOKEN:
                secretKeyRef:
                  name: vaultwarden-secret
                  key: admin-token
              DOMAIN: "https://vaultwarden.${SECRET_DOMAIN}"
              PORT: "80"
              SMTP_HOST: "mail.gmx.net"
              SMTP_FROM:
                secretKeyRef:
                  name: vaultwarden-secret
                  key: smtp-from
              SMTP_FROM_NAME: "Vaultwarden"
              SMTP_SECURITY: "starttls"
              SMTP_PORT: "587"
              SMTP_USERNAME:
                secretKeyRef:
                  name: vaultwarden-secret
                  key: smtp-username
              SMTP_PASSWORD:
                secretKeyRef:
                  name: vaultwarden-secret
                  key: smtp-password
            probes:
              liveness:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /alive
                    port: &port 80
                  initialDelaySeconds: 30
                  periodSeconds: 30
              readiness:
                enabled: true
                custom: true
                spec:
                  httpGet:
                    path: /alive
                    port: *port
                  initialDelaySeconds: 5
                  periodSeconds: 10
            resources:
              requests:
                cpu: 10m
                memory: 128Mi
              limits:
                cpu: 500m
                memory: 512Mi
            securityContext:
              allowPrivilegeEscalation: false
              readOnlyRootFilesystem: false
              capabilities: { drop: ["ALL"] }
        pod:
          securityContext:
            runAsUser: 1000
            runAsGroup: 1000
            runAsNonRoot: true
            fsGroup: 1000
            fsGroupChangePolicy: OnRootMismatch

    service:
      main:
        controller: main
        type: ClusterIP
        ports:
          http:
            port: *port

    ingress:
      main:
        enabled: true
        className: internal
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/name: "Vaultwarden"
          gethomepage.dev/group: "Office"
          gethomepage.dev/icon: "bitwarden.png"
          gethomepage.dev/description: "Self-hosted password manager"
        labels:
          gethomepage.dev/enabled: "true"
        hosts:
          - host: vaultwarden.${SECRET_DOMAIN}
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: main
                  port: http
        tls:
          - hosts:
              - vaultwarden.${SECRET_DOMAIN}

    persistence:
      data:
        enabled: true
        type: emptyDir