apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: home-automation
components:
  - ../../flux/components/common
resources:
 - ./esphome/ks.yaml
 - ./frigate-nvr/ks.yaml
 - ./home-assistant/ks.yaml
 - ./iobroker/ks.yaml
 - ./matter-server/ks.yaml
 - ./mosquitto/ks.yaml
 - ./mqttx-web/ks.yaml
 - ./music-assistant-server/ks.yaml
 - ./n8n/ks.yaml
 - ./node-red/ks.yaml
 - ./otbr/ks.yaml
 - ./scrypted-nvr/ks.yaml
 - ./teslamate/ks.yaml
 - ./zigbee2mqtt/ks.yaml

