---
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: frigate
  namespace: home-automation
spec:
  interval: 30m
  chart:
    spec:
      chart: frigate
      version: 7.3.0
      sourceRef:
        kind: HelmRepository
        name: blakeblackshear
        namespace: flux-system
  maxHistory: 3
  install:
    remediation:
      retries: 1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 1
  uninstall:
    keepHistory: false
  values:
    image:
      repository: ghcr.io/blakeblackshear/frigate
      tag: 0.15.1
    env:
      TZ: "Europe/Berlin"
      LIBVA_DRIVER_NAME: "iHD"

    # Frigate configuration
    config: |
      mqtt:
        host: "mosquitto.home-automation.svc.cluster.local"
        port: 1883
        # Update with your actual MQTT credentials if needed
        # user: admin
        # password: ""
      detectors:
        ov:
          type: openvino
          device: GPU
      model:
        width: 300
        height: 300
        input_tensor: nhwc
        input_pixel_format: bgr
        path: /openvino-model/ssdlite_mobilenet_v2.xml
        labelmap_path: /openvino-model/coco_91cl_bkgr.txt
      semantic_search:
        enabled: True
        model_size: large
        reindex: False
      ffmpeg:
        hwaccel_args: preset-intel-qsv-h264
      genai:
        enabled: false
        provider: ollama
        base_url: http://ollama-ipex.ai.svc.cluster.local:11434
        model: llava:7b
      record:
        enabled: True
        retain:
          days: 3
          mode: all
        alerts:
          retain:
            days: 30
            mode: motion
        detections:
          retain:
            days: 30
            mode: motion
      birdseye:
        enabled: True
        mode: continuous
      cameras:
        kids:
          enabled: true
          genai:
            use_snapshot: false
            prompt: "Analyze the {label} in these images from the {camera} security camera at the front door. Focus on the actions and potential intent of the {label}."
            object_prompts:
              person: "Examine the person in these images. What are they doing, and how might their actions suggest their purpose (e.g., delivering something, approaching, leaving)? If they are carrying or interacting with a package, include details about its source or destination."
            objects:
              - person
          ffmpeg:
              inputs:
                - path: rtsp://camac:Ja3YP@192.168.33.91/live
                  roles:
                    - audio
                    - detect
                    - record
          audio:
            enabled: true
            listen:
              - bark
              - fire_alarm
              - scream
              - speech
              - yell

        entry:
          enabled: true
          genai:
            use_snapshot: false
            prompt: "Analyze the {label} in these images from the {camera} security camera at the front door. Focus on the actions and potential intent of the {label}."
            object_prompts:
              person: "Examine the person in these images. What are they doing, and how might their actions suggest their purpose (e.g., delivering something, approaching, leaving)? If they are carrying or interacting with a package, include details about its source or destination."
            objects:
              - person
              - bicycle
              - bird
              - cat
              - dog
              - hat
              - backpack
              - umbrella
              - shoe
              - eye glasses
              - handbag
              - tie
              - suitcase
              - frisbee
              - teddy bear
              - hair drier
              - toothbrush
              - hair brush
          ffmpeg:
            inputs:
              - path: rtsp://camac:Ja3YP@192.168.33.92/live
                roles:
                  - detect
                  - record
                  - audio
        heater:
          enabled: true
          genai:
            use_snapshot: false
            prompt: "Analyze the {label} in these images from the {camera} security camera at the front door. Focus on the actions and potential intent of the {label}."
            object_prompts:
              person: "Examine the person in these images. What are they doing, and how might their actions suggest their purpose (e.g., delivering something, approaching, leaving)? If they are carrying or interacting with a package, include details about its source or destination."
            objects:
              - person
              - bicycle
              - bird
              - cat
              - dog
              - hat
              - backpack
              - umbrella
              - shoe
              - eye glasses
              - handbag
              - tie
              - suitcase
              - frisbee
              - teddy bear
              - hair drier
              - toothbrush
              - hair brush
          ffmpeg:
            inputs:
              - path: rtsp://camac:Ja3YP@192.168.33.93/live
                roles:
                  - detect
                  - record
                  - audio
        heater:
          enabled: true
          genai:
            use_snapshot: false
            prompt: "Analyze the {label} in these images from the {camera} security camera at the front door. Focus on the actions and potential intent of the {label}."
            object_prompts:
              person: "Examine the person in these images. What are they doing, and how might their actions suggest their purpose (e.g., delivering something, approaching, leaving)? If they are carrying or interacting with a package, include details about its source or destination."
            objects:
              - person
              - bicycle
              - bird
              - cat
              - dog
              - hat
              - backpack
              - umbrella
              - shoe
              - eye glasses
              - handbag
              - tie
              - suitcase
              - frisbee
              - teddy bear
              - hair drier
              - toothbrush
              - hair brush
          ffmpeg:
            inputs:
              - path: rtsp://camac:Ja3YP@192.168.33.94/live
                roles:
                  - detect
                  - record
                  - audio

    # Configure persistence for recordings, database, etc.
    persistence:
      config:
        enabled: true
        existingClaim: frigate-config
      media:
        enabled: true
        existingClaim: frigate-media

    # Service configuration
    service:
      type: ClusterIP
      port: 5000

    # Ingress configuration
    ingress:
      enabled: false
      ingressClassName: internal
      hosts:
        - host: frigate.example.com
          paths:
            - path: "/"
              pathType: Prefix
              portName: http



    # Resource requests and limits
    resources:
      requests:
        cpu: 1000m
        memory: 1Gi
        gpu.intel.com/i915: 1
      limits:
        memory: 8Gi
        gpu.intel.com/i915: 1

    # Set shared memory size for ffmpeg
    shmSize: "2Gi"
    securityContext:
      privileged: true
      capabilities:
        add:
          - SYS_ADMIN
      allowPrivilegeEscalation: true

    extraVolumes:
      - name: dev-dri
        hostPath:
          path: /dev/dri
          type: Directory

    extraVolumeMounts:
      - name: dev-dri
        mountPath: /dev/dri
