# yaml-language-server: $schema=https://json.schemastore.org/kustomization
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: ai
components:
  - ../../flux/components/common
resources:
  - ./open-webui/ks.yaml
  - ./mcpo/ks.yaml
  - ./langfuse/ks.yaml
  - ./ai-sre/ks.yaml
  - ./bytebot/ks.yaml
  - ./clawd-bot/ks.yaml
