---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  namespace: databases
  name: postgresql-data
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: longhorn-static
  volumeName: postgresql-data
  resources:
    requests:
      storage: 20Gi
