---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  namespace: databases
  name: postgresql-data-5g
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: longhorn-static
  volumeName: postgresql-data-5g
  resources:
    requests:
      storage: 5Gi
