---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: absenty-development-bundle-new
  namespace: custom-code-production
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 2Gi
  storageClassName: longhorn-static
  volumeName: absenty-development-bundle-new
