---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: opencode-andreamosteller-smb
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  storageClassName: cifs-opencode-andreamosteller
