---
apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: cifs-opencode-andreamosteller
provisioner: smb.csi.k8s.io
reclaimPolicy: Retain
volumeBindingMode: Immediate
allowVolumeExpansion: true
mountOptions:
  - vers=3.1.1
  - dir_mode=0777
  - file_mode=0777
  - uid=1000
  - gid=1000
  - noperm
  - mfsymlinks
  - cache=strict
  - noserverino
parameters:
  source: "//${NAS_HOSTNAME}/opencode"
  subdir: "/andrea-opencode"
  csi.storage.k8s.io/node-stage-secret-name: "csi-driver-smb"
  csi.storage.k8s.io/node-stage-secret-namespace: "kube-system"
  csi.storage.k8s.io/provisioner-secret-name: "csi-driver-smb"
  csi.storage.k8s.io/provisioner-secret-namespace: "kube-system"
