---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ./secret.sops.yaml
  - ./blueprints-configmap.yaml
  - ./helmrelease.yaml
patches:
  - path: ./patch-blueprints-volumes.yaml
    target:
      kind: Deployment
      labelSelector: app.kubernetes.io/name=authentik