---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: penpot-assets
  namespace: office
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 50Gi
  storageClassName: cifs-penpot-assets
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: penpot-postgresql
  namespace: office
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  storageClassName: longhorn
