---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: jdownloader-config
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 2Gi
  storageClassName: longhorn-static
  volumeName: jdownloader-config