---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: influxdb2-data-10g
  namespace: databases
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  storageClassName: longhorn-static
  volumeName: influxdb2-data-10g
