---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: n8n-config
  namespace: home-automation
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  storageClassName: longhorn-static
  volumeName: n8n-config
