---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: plex
  namespace: media
  annotations:
    external-dns.alpha.kubernetes.io/target: plex.example.com
spec:
  ingressClassName: internal
  rules:
    - host: plex.example.com
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: plex-plex-media-server
                port:
                  number: 32400
  tls:
    - hosts:
        - plex.example.com
