---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  namespace: databases
  name: mariadb-data-new
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: longhorn-static
  volumeName: mariadb-data
  resources:
    requests:
      storage: 20Gi
