---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: mariadb
  namespace: databases
spec:
  interval: 25m
  chart:
    spec:
      chart: mariadb
      version: 11.5.6
      sourceRef:
        kind: HelmRepository
        name: bitnami
        namespace: flux-system
      interval: 15m
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  valuesFrom:
    - kind: Secret
      name: mariadb
      valuesKey: mariadb-root-password
      targetPath: auth.rootPassword
    - kind: Secret
      name: mariadb
      valuesKey: mariadb-password
      targetPath: auth.password
    - kind: Secret
      name: mariadb
      valuesKey: mariadb-user
      targetPath: auth.username
    - kind: Secret
      name: mariadb
      valuesKey: mariadb-database
      targetPath: auth.database
  values:
    image:
      registry: docker.io
      repository: bitnami/mariadb
      tag: 10.11.5
      pullPolicy: IfNotPresent

    primary:
      persistence:
        enabled: true
        existingClaim: mariadb-data
      resources:
        requests:
          cpu: 100m
          memory: 256Mi
        limits:
          memory: 1Gi
    service:
      type: ClusterIP
      ports:
        mysql: 3306
    ingress:
      enabled: true
      ingressClassName: internal
      annotations:
        gethomepage.dev/enabled: "true"
        gethomepage.dev/name: "MariaDB"
        gethomepage.dev/description: "MariaDB is a community-developed, commercially supported, and open-source relational database"
        gethomepage.dev/group: "Databases"
        gethomepage.dev/icon: "mariadb.png"
      labels:
        gethomepage.dev/enabled: "true"

      hostname: &host "mariadb.${SECRET_DOMAIN}"
      hosts:
        - &host "mariadb.${SECRET_DOMAIN}"
      tls:
        - hosts:
            - *host
