---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: mariadb-data-5g
  namespace: databases
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  storageClassName: longhorn-static
  volumeName: mariadb-data-5g
