---
apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: longhorn
  namespace: storage
spec:
  interval: 5m
  chart:
    spec:
      chart: longhorn
      version: "1.11.0"
      sourceRef:
        kind: HelmRepository
        name: longhorn
        namespace: flux-system
  values:
    longhorn:
      namespaceOverride: storage
      defaultSettings:
        defaultDataPath: /var/lib/longhorn
        replicaSoftAntiAffinity: true
        replicaAutoBalance: best-effort
        createDefaultDiskLabeledNodes: false
        defaultReplicaCount: 2
        defaultDataLocality: best-effort
        guaranteedEngineManagerCPU: 1000
        guaranteedReplicaManagerCPU: 1000
        defaultLonghornStaticStorageClass: longhorn-static
        backupTarget: "cifs://192.168.31.230/backups"
        backupTargetCredentialSecret: "longhorn-backup-credentials"
        allowRecurringJobWhileVolumeDetached: true
        storageOverProvisioningPercentage: 100
        storageMinimalAvailablePercentage: 25
        backupstorePollInterval: 300
        taintToleration: ""
        systemManagedComponentsNodeSelector: ""
        allowNodeDrainWithLastHealthyReplica: true
        nodeDrainPolicy: block-if-contains-last-replica
        offlineReplicaRebuilding: enabled
        disableSchedulingOnCordonedNode: true
        replicaZoneSoftAntiAffinity: true
        removeSnapshotsDuringFilesystemTrim: true
        snapshotDataIntegrity: disabled
        snapshotDataIntegrityImmediateCheckAfterSnapshotCreation: false
        snapshotMaxCount: 250
        backupCompressionMethod: lz4
        backupConcurrentLimit: 25
        concurrentVolumeBackupRestorePerNodeLimit: 10
        restoreConcurrentLimit: 2
        failedBackupTTL: 1440
        fastReplicaRebuildEnabled: true
        engineReplicaTimeout: 12
        instanceManagerPodLivenessProbeTimeout: 60
        replicaFileSyncHttpClientTimeout: 30
        replicaDiskSoftAntiAffinity: true
        autoDeletePodWhenVolumeDetachedUnexpectedly: false
        replicaReplenishmentWaitInterval: 300
        concurrentReplicaRebuildPerNodeLimit: 2
        systemManagedPodsImagePullPolicy: if-not-present
        allowVolumeCreationWithDegradedAvailability: true
        mkfsExt4Parameters: ""
        priorityClass: longhorn-critical
        autoCleanupRecurringJobBackupSnapshot: true
        autoCleanupSystemGeneratedSnapshot: true
        recurringSuccessfulJobsHistoryLimit: 1
        recurringFailedJobsHistoryLimit: 1
        recurringJobMaxRetention: 2
        restoreVolumeRecurringJobs: false
        orphanAutoDeletion: false
        detachManuallyAttachedVolumesWhenCordoned: false
        nodeDownPodDeletionPolicy: do-nothing
        allowEmptyDiskSelectorVolume: true
        allowEmptyNodeSelectorVolume: true
        allowCollectingLonghornUsageMetrics: true
        kubernetesClusterAutoscalerEnabled: false
        logLevel: Info
        upgradeChecker: false
        v1DataEngine: true
        v2DataEngine: false
        v2DataEngineGuaranteedInstanceManagerCPU: 1250
        v2DataEngineHugepageLimit: 2048
      persistence:
        defaultClass: true
        defaultClassReplicaCount: 2
      ui:
        enabled: true
        service:
          type: ClusterIP
      csi:
        kubeletRootDir: /var/lib/kubelet
