apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: home-assistant
  namespace: home-automation
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.7.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  values:
    controllers:
      home-assistant:
        containers:
          app:
            image:
              repository: ghcr.io/home-assistant/home-assistant
              tag: 2025.10.4
            env:
              - name: TZ
                value: "Europe/Berlin"
            resources:
              requests:
                cpu: 1000m
                memory: 4Gi
              limits:
                memory: 6Gi
    service:
      main:
        type: LoadBalancer
        controller: home-assistant
        ports:
          http:
            port: 8123
            primary: true
          colot:
            enabled: true
            protocol: UDP
            port: 5683
    ingress:
      main:
        enabled: true
        className: external
        annotations:
          gethomepage.dev/enabled: "true"
          gethomepage.dev/name: "Home Assistant"
          gethomepage.dev/description: "Open source home automation platform"
          gethomepage.dev/group: "Home Automation"
          gethomepage.dev/icon: "home-assistant.png"
          hajimari.io/icon: mdi:home-assistant
          external-dns.alpha.kubernetes.io/target: "external.${SECRET_DOMAIN}"
        labels:
          gethomepage.dev/enabled: "true"
        hosts:
          - host: "hass.${SECRET_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
                service:
                  identifier: main
                  port: http
    persistence:
      config:
        enabled: true
        type: persistentVolumeClaim
        existingClaim: home-assistant-config
        globalMounts:
          - path: /config
