---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: adguard-home-config
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 15Gi
  storageClassName: longhorn-static
  volumeName: adguard-home-config