---
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: adguard-home
  namespace: network
  labels:
    release: kube-prometheus-stack
spec:
  namespaceSelector:
    matchNames:
      - network
  selector:
    matchLabels:
      app: adguard-exporter
  endpoints:
    - port: metrics
      path: /metrics
      interval: 30s
