---
# yaml-language-server: $schema=https://raw.githubusercontent.com/fluxcd-community/flux2-schemas/main/helmrelease-helm-v2.json
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: homepage
spec:
  interval: 30m
  chart:
    spec:
      chart: homepage
      version: 2.0.2
      sourceRef:
        kind: HelmRepository
        name: jameswynn
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    image:
      repository: ghcr.io/gethomepage/homepage
      # tag: v0.6.0

    # Enable RBAC. RBAC is necessary to use Kubernetes integration
    enableRbac: true

    #extraClusterRoles:
      # - apiGroups:
      #   - some-group
      #   resources:
      #   - some-resource
      #   verbs:
      #   - get

    serviceAccount:
      # Specify a different service account name. When blank it will default to the release
      # name if *create* is enabled, otherwise it will refer to the default service account.
      name: ""
      # Create service account. Needed when RBAC is enabled.
      create: true

    service:
      main:
        ports:
          http:
            port: 3000

    controller:
      strategy: Recreate

    # Enable the ingress to expose Homepage to the network.
    ingress:
      main:
        enabled: true
        labels:
          gethomepage.dev/enabled: "false"
        annotations:
          gethomepage.dev/enabled: "false"
          gethomepage.dev/name: "Homepage"
          gethomepage.dev/description: "A modern, secure, application dashboard"
          gethomepage.dev/group: "System"
          gethomepage.dev/icon: "homepage.png"
        ingressClassName: "internal"
        hosts:
          - host: &host "homepage.${SECRET_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
        tls:
          - hosts:
              - *host

    # All the config files for Homepage can be specified under their relevant config block.
    config:
      # To use an existing ConfigMap uncomment this line and specify the name
      # useExistingConfigMap: existing-homepage-configmap
      bookmarks:
        - Developer:
            - Github:
                - abbr: GH
                  href: https://github.com/

      services:
        - "Network Services":
            - Unifi:
                href: https://unifi.${SECRET_DOMAIN}
                icon: unifi-controller.png
                description: Unifi Controller
            - Brother:
                icon: brother.png
                href: http://192.168.33.153
                description: Brother HL 2360DW
        - Infrastructure:
            - openDTU:
                href: http://192.168.33.220
                icon: sun-panel.png
                description: Solar Inverter Gateway
            - Awtrix:
                href: http://192.168.33.135
                icon: awtrix.png
                description: LED Matrix Display
            - PiKVM:
                href: http://192.168.30.154
                icon: pikvm.png
                description: KVM over IP
            - "Zigbee Router GF":
                href: http://192.168.32.21
                icon: zigbee2mqtt-light.png
                description: SLZB-06 Zigbee Router Ground Floor
            - "Zigbee Coordinator":
                href: http://192.168.32.20
                icon: zigbee2mqtt.png
                description: SLZB-06P10 Zigbee Coordinator
            - "Unifi NAS Pro":
                href: http://192.168.31.230
                icon: unifi-drive.png
                description: Network Attached Storage
            - "Epson Scanner ES-580W":
                icon: epson-iprint.png
                href: http://192.168.32.201
                description: Epson ES-580W
        - Monitoring:
            - Alertmanager:
                href: https://alertmanager.${SECRET_DOMAIN}
                icon: alertmanager.png
                description: Alertmanager is a tool that routes alerts to a set of receivers
                namespace: monitoring
                app: kube-prometheus-stack-alertmanager
                podSelector: alertmanager=kube-prometheus-stack
            - Grafana:
                href: https://grafana.${SECRET_DOMAIN}
                icon: grafana.png
                description: Metrics visualization and analytics platform
                namespace: monitoring
                app: grafana
                podSelector: app.kubernetes.io/instance=grafana
            - Kibana:
                href: https://kibana.${SECRET_DOMAIN}
                icon: elastic
                description: Elastic Observability
                namespace: monitoring
                app: kibana
                podSelector: kibana.k8s.elastic.co/name=kibana
            - Prometheus:
                href: https://prometheus.${SECRET_DOMAIN}
                icon: prometheus.png
                description: Prometheus is an open-source monitoring system with a time series database
                namespace: monitoring
                app: kube-prometheus-stack-prometheus
                podSelector: prometheus=kube-prometheus-stack
        - System:
            - Longhorn:
                href: https://longhorn.${SECRET_DOMAIN}
                icon: longhorn.png
                description: Kubernetes storage management UI
                namespace: storage
                podSelector: app=longhorn-ui

      widgets:
        - datetime:
            text_size: lg
            format:
              dateStyle: short
              timeStyle: short
              hourCycle: h23
        - resources:
            backend: kubernetes
            cpu: true
            expanded: true
            memory: true
            network: true
            storage: true
        - kubernetes:
            cluster:
              show: false
            nodes:
              show: true
              showLabel: false
              cpu: true
              memory: true
            pods:
              show: false
        - openmeteo:
            timezone: Europe/Berlin
            units: metric
            cache: 5
            latitude: 52.5200
            longitude: 13.4050
            format:
              maximumFractionDigits: 0
      kubernetes:
        # change mode to 'cluster' to use RBAC service account
        mode: cluster
        ingress: true
        gateway: true
        services: true
        pods: true
        nodes: true

      docker:
      settings:

      # all sections can alternately be appended with "String" such as this example settings. This is useful
      # for defining a stable ordering. Unfortunately Go's (and therefore Helm's) toYaml function sorts keys
      # and loses and input ordering. Using a string is the best way around this.
      settingsString: |
        title: Home Dashboard
        background:
          image: https://images.unsplash.com/photo-1502790671504-542ad42d5189?auto=format&fit=crop&w=2560&q=80
        theme: dark
        color: slate
        headerStyle: boxed
        useEqualHeights: false
        hideVersion: false
        disableCollapse: false
        disableDrag: false
        disableEdit: false
        disableUpdateCheck: false
        sidebar: true
        sidebarOpen: true
        sidebarStyle: modern

        layout:
          AI:
            style: row
            columns: 3
            icon: openai.png
          Databases:
            style: row
            columns: 3
            icon: postgresql.png
          System:
            style: row
            columns: 1
            icon: proxmox.png
          "Network Services":
            style: row
            columns: 4
            icon: router.png
          "Home Automation":
            style: row
            columns: 3
            icon: home-assistant.png
          Monitoring:
            style: row
            columns: 4
            icon: grafana.png
          Infrastructure:
            style: row
            columns: 3
            icon: docker.png
          Office:
            style: row
            columns: 3
            icon: microsoft-office.png
          Media:
            style: row
            columns: 3
            icon: plex.png
          Download:
            style: row
            columns: 2
            icon: jdownloader.png
            
        # title: Homepage
        # headerStyle: boxed
        # layout:
        #   My First Group:
        #   My Second Group:
        #   My Third Group:

    # -- Main environment variables. Template enabled.
    # Syntax options:
    # A) TZ: UTC
    # B) PASSWD: '{{ .Release.Name }}'
    # C) PASSWD:
    #      configMapKeyRef:
    #        name: config-map-name
    #        key: key-name
    # D) PASSWD:
    #      valueFrom:
    #        secretKeyRef:
    #          name: secret-name
    #          key: key-name
    #      ...
    # E) - name: TZ
    #      value: UTC
    # F) - name: TZ
    #      value: '{{ .Release.Name }}'
    env:
      - name: HOMEPAGE_ALLOWED_HOSTS
        # This value must be set
        # ref: https://gethomepage.dev/installation/#homepage_allowed_hosts
        value: "*"
      - name: TZ
        value: Europe/Berlin

    # To include environment variables from other configs or other secrets for use in
    # Homepage's variable substitutions. Refer to them here.
    # envFrom:
    #   - secretRef:
    #       name: my-secret
    #   - configMapRef:
    #       name: my-configmap

    persistence:
      logs:
        enabled: true
        type: emptyDir
        mountPath: /app/config/logs

    resources:
      requests:
        memory: 256Mi
        cpu: 50m
      limits:
        memory: 512Mi
        cpu: 200m
