---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: teslamate-postgres
spec:
  interval: 30m
  chart:
    spec:
      chart: app-template
      version: 3.7.1
      sourceRef:
        kind: HelmRepository
        name: bjw-s
        namespace: flux-system
  maxHistory: 1
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: false
    remediation:
      retries: 3
  uninstall:
    keepHistory: false
  values:
    defaultPodOptions:
      nodeSelector:
        kubernetes.io/hostname: k8s-nuc14-03

    controllers:
      main:
        containers:
           main:
             image:
               repository: postgres
               tag: "18-alpine"
             env:
               - name: POSTGRES_USER
                 valueFrom:
                   secretKeyRef:
                     name: teslamate-secret
                     key: DATABASE_USER
               - name: POSTGRES_PASSWORD
                 valueFrom:
                   secretKeyRef:
                     name: teslamate-secret
                     key: DATABASE_PASS
               - name: POSTGRES_DB
                 valueFrom:
                   secretKeyRef:
                     name: teslamate-secret
                     key: DATABASE_NAME
             resources:
                requests:
                  cpu: 100m
                  memory: 256Mi
                limits:
                  memory: 1Gi

    service:
      main:
        controller: main
        type: ClusterIP
        ports:
          http:
            port: 5432

    persistence:
      data:
        type: persistentVolumeClaim
        existingClaim: teslamate-db
        advancedMounts:
          main:
            main:
              - path: /var/lib/postgresql/data
                subPath: postgres
