apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: "cifs-nextcloud-data"
provisioner: smb.csi.k8s.io
reclaimPolicy: Retain
volumeBindingMode: Immediate
allowVolumeExpansion: true
mountOptions:
  - vers=3.1.1
  - dir_mode=0770
  - file_mode=0660
  - uid=33
  - gid=33
  - forceuid
  - forcegid
  - noatime
  - rsize=1048576
  - wsize=1048576
  - cache=strict
  - actimeo=30
  - serverino
  - nounix
  - mapposix
  - nobrl
  - fsc

parameters:
  source: "//${NAS_HOSTNAME}/nextcloud"
  subdir: "data"
  csi.storage.k8s.io/node-stage-secret-name: "csi-driver-smb"
  csi.storage.k8s.io/node-stage-secret-namespace: "kube-system"
  csi.storage.k8s.io/provisioner-secret-name: "csi-driver-smb"
  csi.storage.k8s.io/provisioner-secret-namespace: "kube-system"


---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: nextcloud-data
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 300Gi
  storageClassName: cifs-nextcloud-data
