---
apiVersion: v1
kind: ConfigMap
metadata:
  name: metricbeat-config
data:
  metricbeat.yml: |
    metricbeat.modules:
    - module: prometheus
      period: 30s
      metricsets: ["query"]
      hosts: ["kube-prometheus-stack-prometheus.monitoring.svc:9090"]
      queries:
      - name: "federate"
        path: "/federate"
        params:
          'match[]':
            - '{__name__=~"up|node_cpu_seconds_total|node_memory_.*|node_filesystem_.*|container_cpu_usage_seconds_total|container_memory_.*|kube_pod_status_phase|kube_deployment_.*|kube_node_.*|prometheus_tsdb_.*"}'

    output.elasticsearch:
      hosts: ["https://elasticsearch-es-http.monitoring.svc:9200"]
      username: "elastic"
      password: "MC3lY6PQ2lkhP2z70Q1pw373"
      ssl.certificate_authorities: ["/usr/share/metricbeat/config/certs/tls.crt"]
      index: "metricbeat-%{[agent.version]}-%{+yyyy.MM.dd}"
      allow_older_versions: true

    setup.ilm.enabled: false
    setup.template.enabled: true
    setup.template.overwrite: true
    setup.template.name: "metricbeat"
    setup.template.pattern: "metricbeat-*"
    setup.template.settings:
      index.number_of_shards: 1
      index.number_of_replicas: 1
      index.mapping.total_fields.limit: 50000
    setup.template.json.enabled: false

    processors:
      - drop_fields:
          fields: ["prometheus.labels.le", "prometheus.labels.quantile", "prometheus.labels.code", "prometheus.labels.handler", "prometheus.labels.endpoint", "prometheus.labels.dialer_name", "prometheus.labels.event", "prometheus.labels.role", "prometheus.labels.rule_group", "prometheus.labels.scrape_job"]
          ignore_missing: true
      - add_cloud_metadata: ~
      - add_kubernetes_metadata: ~
    
    http.enabled: true
    http.host: "0.0.0.0"
    http.port: 5066
    
    logging.level: info
    logging.to_stderr: true
    logging.event_data.to_stderr: true
    logging.event_data.to_files: false
