---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: metricbeat
spec:
  interval: 30m
  chart:
    spec:
      chart: metricbeat
      version: 8.5.1
      sourceRef:
        kind: HelmRepository
        name: elastic
        namespace: flux-system
  install:
    remediation:
      retries: 3
  upgrade:
    cleanupOnFail: true
    remediation:
      strategy: rollback
      retries: 3
  valuesFrom:
    - kind: ConfigMap
      name: metricbeat-values
