---
apiVersion: helm.toolkit.fluxcd.io/v2beta2
kind: HelmRelease
metadata:
  name: paperless-ngx
  namespace: office
spec:
  interval: 30m
  chart:
    spec:
      chart: paperless-ngx
      version: 0.19.1
      sourceRef:
        kind: HelmRepository
        name: gabe565
        namespace: flux-system
  maxHistory: 1
  install:
    remediation:
      retries: 1
  upgrade:
    cleanupOnFail: true
    remediation:
      retries: 1
  uninstall:
    keepHistory: false
  values:
    image:
      repository: ghcr.io/paperless-ngx/paperless-ngx
      tag: "2.14.7"
      pullPolicy: IfNotPresent
    env:
      TZ: UTC
      PAPERLESS_SECRET_KEY:
        valueFrom:
          secretKeyRef:
            name: paperless-ngx-secret
            key: PAPERLESS_KEY
      PAPERLESS_URL: "https://paperless.${SECRET_DOMAIN}"
      PAPERLESS_CONSUMER_DELETE_DUPLICATES: true
      PAPERLESS_CONSUMER_RECURSIVE: true
      PAPERLESS_CONSUMER_SUBDIRS_AS_TAGS: true
      PAPERLESS_CONSUMER_POLLING: 10
      PAPERLESS_CONSUMER_ENABLE_BARCODES: true
      PAPERLESS_EMAIL_HOST: smtp.gmail.com
      PAPERLESS_EMAIL_PORT: 587
      PAPERLESS_EMAIL_USE_TLS: true
      PAPERLESS_EMAIL_USERNAME:
        valueFrom:
          secretKeyRef:
            name: paperless-ngx-secret
            key: PAPERLESS_EMAIL_USERNAME
      PAPERLESS_EMAIL_PASSWORD:
        valueFrom:
          secretKeyRef:
            name: paperless-ngx-secret
            key: PAPERLESS_EMAIL_PASSWORD
    service:
      # -- Configures service settings for the chart.
      # @default -- See [values.yaml](./values.yaml)
      main:
        ports:
          http:
            port: 8000
    ingress:
      main:
        enabled: true
        ingressClassName: "external"
        annotations:
          hajimari.io/icon: mdi:file-document-multiple
          nginx.ingress.kubernetes.io/proxy-body-size: 64m
          external-dns.alpha.kubernetes.io/target: "external.${SECRET_DOMAIN}"
        hosts:
          - host: &host "paperless.${SECRET_DOMAIN}"
            paths:
              - path: /
                pathType: Prefix
        tls:
          - hosts:
              - *host

    persistence:
      data:
        enabled: true
        existingClaim: paperless-ngx-data
      log:
        enabled: true
        existingClaim: paperless-ngx-log
      media:
        enabled: true
        mountPath: /usr/src/paperless/media
        existingClaim: paperless-ngx-media
      export:
        enabled: true
        mountPath: /usr/src/paperless/export
        existingClaim: paperless-ngx-export
      consume:
        enabled: true
        mountPath: /usr/src/paperless/consume
        existingClaim: paperless-ngx-consume
    postgresql:
      enabled: false
    mariadb:
      enabled: false
      # auth:
      #   database: paperless
      #   username: paperless
      #   password: changeme
      #   rootPassword: changeme
      # primary:
      #   persistence:
      #     enabled: false
      #     storageClass: "local-hostpath"
      #     size: 8Gi
    redis:
      enabled: true
      auth:
      #  password: changeme
        enabled: true
      master:
        persistence:
          enabled: false
          storageClass: "local-hostpath"
          size: 2Gi
        replica:
          enabled: false
          replicaCount: 0
    resources:
      requests:
        cpu: 500m
        memory: 1.5Gi
      limits:
        memory: 8Gi
    probes:
      liveness:
        enabled: false
      readiness:
        enabled: false
      startup:
        enabled: false
    securityContext:
      runAsUser: 1000
      runAsGroup: 1000
      fsGroup: 1000

    podSecurityContext:
      runAsUser: 1000
      runAsGroup: 1000
      fsGroup: 1000

    # If you have a containers section:
    containers:
      paperless:
        securityContext:
          runAsUser: 1000
          runAsGroup: 1000
          fsGroup: 1000
